

// custom variables
$primary: red;
$secondary: blue;

//import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

//layout
@import "layout/header";

//sections
@import "section/hero-main";

#header-container header h1{
    color: blue;
}